{% extends 'layout_divided.html' %}
{% block content %}
    <script src="{{ url_for('static', filename='plugins/threejs/Three.js/js/Detector.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/threejs/Three.js/js/Stats.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/threejs/Three.js/js/OrbitControls.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/threejs/Three.js/js/THREEx.KeyboardState.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/threejs/Three.js/js/THREEx.FullScreen.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/threejs/Three.js/js/THREEx.WindowResize.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/threejs/Three.js/js/DAT.GUI.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/threejs/Three.js/js/SubdivisionModifier.js') }}"></script>

    <section class="content">
        <div>
            <div id="ThreeJS" style="position: relative; margin-top:7px; height:850px; overflow:hidden;"></div>
        </div>
    </section>

    <script  src="{{ url_for('static', filename='js/week5_demo2.js') }}"></script>

{% endblock %}