<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="background: #6e5454;color: #91ff00;opacity: 1;font-size: 27px;font-weight: bold;">
        <span style="color:#0F0;"><b>안녕하세요. main.html 입니다.</b></span>
        <div style="background: #6e5454;color: #91ff00;opacity: 1;font-size: 27px;font-weight: bold;">
            <span style="color:#0F0;"><b>안녕하세요~. main.html2 입니다.</b></span>
        </div>
    </div>

    <a type="button" href="/new_page">페이지 이동</a>
</body>
</html>


